.navbar {
  padding-left: 15px;
  padding-right: 10px;
  margin-bottom: 0;
  border-radius: 0;
  font-size: 16px;
}

.navbar-default .navbar-brand {
  color: #437080;
}

.logo {
  font-size: 28px;
  letter-spacing: 2px;
}
