.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #337ab7;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica, sans-serif;
    font-size: 2.5em;
}

@keyframes dots {
    50% {
        transform: translateY(-.4rem);
    }
    100% {
        transform: translateY(0);
    }
}

.d {
    animation: dots 1.5s ease-out infinite;
}
.d-2 {
    animation-delay: .5s;
}
.d-3 {
    animation-delay: 1s;
}
