<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="signup-container">
          <div class="signup-content">
              <h1 class="signup-title">Sign Up</h1>
              <div class="container-fluid">
                <div class="row">
                  <div class="">
                    <div class="social-signup">
                      <div class="row">
                        <a class="btn btn-block social-btn google" href={{GOOGLE_AUTH_URL}}>
                            <img src="/assets/images/google-logo.png" alt="Google" /> Sign up with Google</a>
                      </div>
                      <div class="row">
                        <a class="btn btn-block social-btn facebook" href={{FACEBOOK_AUTH_URL}}>
                            <img src="/assets/images/fb-logo.png" alt="Facebook" /> Sign up with Facebook</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <hr>
              <form class="form-signin"
                    novalidate
                    (ngSubmit)="onSubmit()"
                    [formGroup]="registerForm" >

                  <div class="form-group">
                    <input class="form-control"
                      id="nameId"
                      type="text"
                      placeholder="Name (required)"
                      formControlName="name"
                      [ngClass]="{'is-invalid': errorMessage}" />

                    <input class="form-control"
                      id="emailId"
                      type="text"
                      placeholder="Email (required)"
                      formControlName="email"
                      [ngClass]="{'is-invalid': errorMessage}" />

                    <input class="form-control"
                      id="passwordId"
                      type="password"
                      placeholder="Password (required)"
                      formControlName="password"
                      [ngClass]="{'is-invalid': errorMessage}" />
                  </div>

                  <div *ngIf="errorAlert" class="alert alert-danger">
                    <strong>
                      <span class="glyphicon glyphicon-exclamation-sign"></span>
                        {{ errorMessage }}
                    </strong>
                  </div>

                  <div class="form-group">
                    <div class="">
                      <button class="btn btn-block btn-primary"
                          type="submit"
                          [title]="registerForm.valid ? 'Save your entered data' : 'Disabled until the form data is valid'"
                          [disabled]="!registerForm.valid">
                        Signup
                      </button>
                    </div>
                  </div>
              </form>
              <span class="login-link">Already have an account? <a routerLink="" (click)="navigateToLogin()">Login!</a></span>
          </div>
      </div>
    </div>
  </div>
</div>
